*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

/* section {
    border:1px solid red;
} */

.layout-grid {
    background: hsl(97, 53%, 32%) url(img/bg__circles.svg) no-repeat 50% 30%;
    background-size: 100% 90%;
    
    /* height:100vh; */
    /* min-height: 100vh; */

    display: grid;
    
    /* grid-template-rows: 10% 50% 20% 20%; */
    padding: 7vmin;
}

.layout-grid__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-6deg);
    font-family: 'Titan One', cursive;
}
.layout-grid__title > h1 {
    color: white;
    font-weight: normal;
    font-size: 16vmin;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    line-height: 1;
    text-shadow: 0px 4px 2px hsla(0, 0%, 0%, 0.15);
}
.layout-grid__title > h2 {
    margin: 0;
    font-weight: normal;
    font-size: 3.8vmin;
 }

.layout-grid__date {
    display: flex; 
    justify-content: space-between;
}
.layout-grid__date > div {
    color: white;
}


.layout-grid__description {
    text-align: center;
}


.layout-grid__icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.layout-grid__icons > img{
    flex: 0 1 12vw;
    width: 12vw;
    min-width: 0;
    min-height: 0;
}